/* Import bootstrap less
 *
=============================================== */
@import "../components/bootstrap/less/bootstrap.less";


/* CSS Imports
=============================================== */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
@import url(//fonts.googleapis.com/css?family=Droid+Serif:400,400italic);


/* Brand Variables
=============================================== */
// colors
@white: #fff;
@black: #000;
@brand-color-white: @white;
@brand-color-black: @black;
@brand-color-blue-light: #09f;
@brand-color-blue-dark: darken(@brand-color-blue-light, 20%);
// fonts
@brand-font-family-sans-serif: "Open Sans", sans-serif;
@brand-font-family-serif: "Droid Serif", serif;


/* Bootstrap Overrides
 *
 * see http://getbootstrap.com/customize/#less-variables
=============================================== */
// colors
@body-bg: @brand-color-white;
@text-color: @brand-color-black;
@link-color: @brand-color-blue-light;
@link-hover-color: @brand-color-blue-dark;
// fonts
@font-family-serif: @brand-font-family-serif;
@font-family-sans-serif: @brand-font-family-sans-serif;


/* Utility/Misc
=============================================== */
.text-center {
  .img-responsive {
    margin-left: auto;
    margin-right: auto;
  }
}


/* Globals
=============================================== */


/* Header
=============================================== */


/* Nav
=============================================== */


/* Footer
=============================================== */


/* Main
=============================================== */


/* Media Queries
 *
 * We're using bootstrap's breakpoint vars
 *
 * see http://getbootstrap.com/css/#grid
=============================================== */

@media (min-width: @screen-sm-min) {

}

@media (min-width: @screen-md-min) {

}
